@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*-----------------------------------------------------------
===  [ base CSS ]  ====================================
------------------------------------------------------------*/

/* ***************************************************************************** */
/*

　目次

-------------------------------------------------------------------------------

　01. body
　02. all_wrap
	03. header
	04. contents
	05. footer

*/
/* ***************************************************************************** */

/** -------------------------------------------------------
** 01. body
** ------------------------------------------------------- */

body {
	padding: 0;
	margin: 0;
	color: #333;
	text-align: center;
	background: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}
/* for gecko,webkit */
.gecko body,
.webkit body {
	font-size: 16px;
}
/* for (win)ie */
.win.ie body {
	font-size: 100%;
}
/* -- link -- */
a:link {
	color: #003399;
	text-decoration: underline;
}
a:visited {
	color: #003399;
	text-decoration: underline;
}
a:hover {
	color: #003399;
	text-decoration: none;
}
a:active {
	color: #003399;
	text-decoration: none;
}
button {
	border: none;
	margin: 0;
	padding: 0;
}
button {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	color: #333;
	cursor: pointer;
}
 input:-webkit-autofill {
 -webkit-box-shadow:0 0 0 50px #fff inset;
 -webkit-text-fill-color: #333;
}
 input:-webkit-autofill:focus {
 -webkit-box-shadow: 0 0 0 50px #fff inset;
 -webkit-text-fill-color: #333;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	outline:none;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
** 02. all_wrap
** ------------------------------------------------------- */
#all_wrap {
	min-width: 970px;
}
/* ***************************************************************************** */
/** -------------------------------------------------------
** 03. header
** ------------------------------------------------------- */
/* Header
----------------------------------------------------*/
.header02 {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 57px;
	background: #ffffff;
	font-family: "Noto Sans Japanese", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Malgun Gothic", "Yoon Gothic", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.header02 p,
.header02 li {
	line-height: 1.6;
	font-weight: 200;
}
.header02 a:link {
	color: #333;
	text-decoration: none;
}
.header02 a:visited {
	color: #333;
	text-decoration: none;
}
.header02 a:hover {
	color: #333;
	text-decoration: underline;
}
.header02 a:active {
	color: #333;
	text-decoration: none;
}
.header02-in {
	text-align:left;
	position:relative;
	overflow: hidden;
}
.header02 .logo02 {
	float: left;
	margin-top: 6px;
}
.header02 .logo02 a {
	width: 100%;
}
.header02 .logo02 img {
	width: 100%;
	height: auto;
}
.header02.is-small .header02-in {
	padding-bottom: 5px;
}
.header02.is-small .logo02 {
	margin-top: 3px;
}
.position-static {
	position: static;
}
.l-in {
	width: 950px;
	margin: 0 auto;
}
/* header
----------------------------------------------------*/
#header {
	background: #003399;
	position: relative;
	z-index: 20;
}
#header.return_hd,
#header.simple_hd {
	border-bottom: 15px solid #427ABE;
}
#header.hd_w {
	background:#fff;
	border-bottom:none;
}
/* header_inner
----------------------------------------------------*/
#header_inner {
	width: 950px;
	margin: 0 auto;
	padding: 12px 0 16px;
	text-align: left;
	position: relative;
}
#header.hd_w #header_inner {
	padding-bottom:0;
}
/* clearfix */
#header_inner:before,
#header_inner:after {
	content: " ";
	display: table;
}
#header_inner:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #header_inner {
	zoom: 1;
}
#header.mini_hd #header_inner {
	padding: 0;
	height: 61px;
}
#hd_home,
#hd_top,
#hd_btn {
	float: left;
}
#hd_home {
	margin: 0 0 0 19px;
}
#header.return_hd #hd_home {
	padding: 0 0 0 118px;
	margin: 0;
}
#hd_top {
	margin: 0 0 0 23px;
}
#header.mini_hd #hd_top {
	margin: 19px 0 0;
	font-size: 81.25%;
	color: rgba(255,255,255,0.8);
	border: 1px solid;
	border-color: rgba(255,255,255,0.2);
	padding: 5px 9px;
	line-height: 1;
	font-weight: normal;
}
#hd_btn {
	margin: 15px 0 0 14px;
}
#header.mini_hd #hd_btn {
	float: right;
	margin: 13px 251px 0 0;
}
#hd_link {
	float: right;
	font-size: 75%;
}
#hd_link a {
	color: #fff;
	background: url(/pc/images/cmn_ico_blank01.png) no-repeat left 0.1em;
	padding: 0 0 0 22px;
}
/* for ie7,ie8 */
.ie7 #hd_link a,
.ie8 #hd_link a {
	display: inline-block;
}
#hd_link a:hover {
	text-decoration: none;
}
#hd_returnbtn {
	position: absolute;
	top: 22px;
	left: 0;
	width: 90px;
	height: 50px;
	background: url(/pc/images/cmn_hd_bg_return01.png) no-repeat left top;
}
#hd_returnbtn a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 30px;
	text-align: center;
}
#hd_returnbtn a:hover {
	text-decoration: underline;
}
#hd_printtit {
	color: #fff;
	font-size: 112.5%;
	text-align: center;
	padding: 10px 0;
}
/* global_navi
----------------------------------------------------*/
#global_navi {
	background: #427ABE;
}
#gn_inner {
	width: 950px;
	margin: 0 auto;
	text-align: left;
}
#gn_inner ul {
	width: 710px;
}
/* clearfix */
#gn_inner ul:before,
#gn_inner ul:after {
	content: " ";
	display: table;
}
#gn_inner ul:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #gn_inner ul {
	zoom: 1;
}
#gn_inner li {
	float: left;
	line-height: 50px;
	text-align: center;
}
#header.mini_hd #gn_inner li {
	line-height: 30px;
}
#gn_inner #top_navi {
	width: 231px;
}
#gn_inner #confirm_navi {
	width: 176px;
}
#gn_inner #store_navi {
	width: 126px;
}
#gn_inner #guide_navi {
	width: 177px;
}
#gn_inner li a {
	display: block;
	height: 50px;
	border-left: 1px solid #88AAD3;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#header.mini_hd #gn_inner li a {
	height: 30px;
}
/* hd_cart
----------------------------------------------------*/
#hd_cart_wrap {
	width: 950px;
	margin: 0 auto;
	position: relative;
}
#hd_cart {
	width: 240px;
	height: 105px;
	background: #6191CC url(/pc/images/cmn_hd_cart_bg01.gif) no-repeat left top;
	position: absolute;
	right: 0;
	bottom: 0;
}
#header.mini_hd #hd_cart {
	height: 91px;
	background: #6191CC;
}
#header.return_hd #hd_cart {
	bottom: -15px;
}
#header.mini_hd #hd_cart {
	height: 91px;
}
#hd_cart_inner {
	padding: 8px;
	background: url(/pc/images/cmn_hd_cart_ico01.gif) no-repeat 23px 31px;
	position: relative;
}
/* clearfix */
#hd_cart_inner:before,
#hd_cart_inner:after {
	content: " ";
	display: table;
}
#hd_cart_inner:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #hd_cart_inner {
	zoom: 1;
}
#header.mini_hd #hd_cart_inner {
	background-position: 23px 27px;
}
#hd_cart_num {
	position: absolute;
	top: 19px;
	right: 164px;
	font-size: 81.25%;
	font-weight: bold;
	background: url(/pc/images/cmn_hd_cart_bg03.png) no-repeat left top;
	padding: 0 0 0 5px;
}
#hd_cart_num span {
	display: block;
	background: url(/pc/images/cmn_hd_cart_bg04.png) no-repeat right top;
	padding: 0 5px 0 0;
	text-align: center;
	line-height: 24px;
}
#hd_cart_total {
	background: url(/pc/images/cmn_hd_cart_bg02.gif) no-repeat left top;
	width: 142px;
	height: 89px;
	float: right;
}
#header.mini_hd #hd_cart_total {
	background-image: url(/pc/images/cmn_hd_cart_bg05.gif);
	height: 75px;
}
#hd_cart_total_inner {
	padding: 8px;
}
#hd_cart_total_txt01,
#hd_cart_total_txt02 {
	line-height: 1.0;
}
#hd_cart_total_txt01 {
	font-size: 68.75%;
	text-align: left;
	color: #fff;
}
#hd_cart_total_txt02 {
	font-size: 93.75%;
	text-align: right;
	margin: 8px 0 0;
	color: #F2D179;
	height: 15px;
}
#header.mini_hd #hd_cart_total_txt02 {
	margin: 6px 0 0;
}
#hd_cart_total_btn01 {
	margin: 8px 0 0;
}
#header.mini_hd #hd_cart_total_btn01 {
	margin: 6px 0 0;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
** 04. topicpath
** ------------------------------------------------------- */

/* topicpath
----------------------------------------------------*/
#topicpath {
	background: #F2F2F2;
}
#topicpath p {
	width: 950px;
	margin: 0 auto;
	padding: 5px 0;
	font-size: 75%;
	text-align: left;
}
#topicpath p a {
	color: #333;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
** 04. contents
** ------------------------------------------------------- */

/* container
----------------------------------------------------*/
#container {
}
/* contents
----------------------------------------------------*/
.contents {
	width: 950px;
	margin: 0 auto;
	padding: 0 0 60px;
	text-align: left;
	position: relative;
}
/* clearfix */
.contents:before,
.contents:after {
	content: " ";
	display: table;
}
.contents:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 .contents {
	zoom: 1;
}
/* main
----------------------------------------------------*/
/*#main {
	float: right;
	width: 700px;
	background: #FFF;
}*/
/* social
----------------------------------------------------*/
#social {
	padding: 0 0 30px;
	position: relative;
	z-index: 21;
}
#social #social_inner01 {
	width: 950px;
	margin: 0 auto;
	text-align: right;
}
#social ul {
	display: inline;
}
#social ul li {
	display: inline-block;
	text-align: right;
}
#social ul #social_link01 {
	vertical-align: top;
	margin: 0 0 0 25px;
}
#social ul #social_link01 img {
	margin: 0 7px 0 0;
}
#social ul #social_link01 a {
	background: url(/pc/images/cmn_ico_blank02.png) no-repeat 4px 0.2em;
	padding: 0 0 0 28px;
	display: inline-block;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
** 05. footer
** ------------------------------------------------------- */

/* footer
----------------------------------------------------*/
#footer {
	clear: both;
	position: relative;
	z-index: 22;
}
/* clearfix */
#footer ul:before,
#footer ul:after {
	content: " ";
	display: table;
}
#footer ul:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #footer ul {
	zoom: 1;
}
/* ft_totop
----------------------------------------------------*/
#ft_totop {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 72px;
	text-align: right;
}
/* ft_link
----------------------------------------------------*/
#ft_link {
	background: #F2F2F2;
	border-top: 4px solid #003399;
}
#ft_link_inner {
	width: 950px;
	margin: 0 auto;
	padding: 40px 0;
	text-align: left;
}
/* clearfix */
#ft_link_inner:before,
#ft_link_inner:after {
	content: " ";
	display: table;
}
#ft_link_inner:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #ft_link_inner {
	zoom: 1;
}
#ft_link_leftinner {
	width: 570px;
	float: left;
}
#ft_link_leftinner a,
#ft_link_rightinner a {
	color: #333;
}
#ft_link_leftinner p,
#ft_link_leftinner li {
	font-size: 100%;
	background: url(/pc/images/cmn_ico_arrow01.png) no-repeat left 0.2em;
	padding: 0 0 0 24px;
}
#ft_link_leftinner li {
	margin: 7px 0 0;
}
#ft_link_leftinner_box01 {
	border-bottom: 1px dotted #666;
	padding: 0 0 15px;
}
#ft_link_leftinner_box02 {
	margin: 20px 0 0;
}
/* clearfix */
#ft_link_leftinner_box02:before,
#ft_link_leftinner_box02:after {
	content: " ";
	display: table;
}
#ft_link_leftinner_box02:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #ft_link_leftinner_box02 {
	zoom: 1;
}
#ft_link_leftinner_box02 ul {
	float: left;
	margin: 0 15px 0 0;
}
#ft_link_leftinner_box02 ul ul {
	float: none;
	margin: 5px 0 0 -24px;
}
#ft_link_leftinner_box02 ul ul li {
	background: url(/pc/images/cmn_ico_arrow02.png) no-repeat 6px 0.4em;
	font-size: 87.5%;
}
#ft_link_leftinner_list01 {
	width: 204px;
}
#ft_link_leftinner_list02 {
	width: 336px;
}
#ft_link_rightinner {
	width: 340px;
	float: right;
}
#ft_link_rightinner_box01 {
	border-bottom: 1px dotted #666;
	padding: 0 0 15px;
}
#ft_link_rightinner_listwrap {
	margin: 15px 0 0;
}
/* clearfix */
#ft_link_rightinner_listwrap:before,
#ft_link_rightinner_listwrap:after {
	content: " ";
	display: table;
}
#ft_link_rightinner_listwrap:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #ft_link_rightinner_listwrap {
	zoom: 1;
}
#ft_link_rightinner_listwrap ul li {
	background: url(/pc/images/cmn_ico_arrow02.png) no-repeat 6px 0.4em;
	font-size: 87.5%;
	padding: 0 0 0 20px;
	margin: 7px 0 0;
}
#ft_link_rightinner_list01 {
	float: left;
	width: 195px;
	margin: 0 5px 0 0;
}
#ft_link_rightinner_list02 {
	float: right;
	width: 135px;
	margin: 0 5px 0 0;
}
#ft_link_rightinner_box02 ul {
	margin: 20px 0 0;
}
/* clearfix */
#ft_link_rightinner_box02 ul:before,
#ft_link_rightinner_box02 ul:after {
	content: " ";
	display: table;
}
#ft_link_rightinner_box02 ul:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #ft_link_rightinner_box02 ul {
	zoom: 1;
}
#ft_link_rightinner_box02 li {
	font-size: 75%;
}
#ft_link_rightinner_bnr01 {
	float: left;
	width: 190px;
}
#ft_link_rightinner_bnr02 {
	float: right;
	width: 140px;
}
#ft_link_rightinner_box02 li img {
	margin: 0 0 5px;
}
/* ft_copy
----------------------------------------------------*/
#ft_copy {
	background: #003399;
	color: #fff;
}
#ft_copy p,
#ft_copy li {
	font-size: 75%;
	line-height: 1.6;
}
#ft_copy a {
	color: #fff;
}
#ft_copy_inner {
	width: 950px;
	margin: 0 auto;
	text-align: left;
}
#ft_copy_listlink {
	border-bottom: 1px solid #4D71B8;
	padding: 23px 2px;
}
/* clearfix */
#ft_copy_listlink:before,
#ft_copy_listlink:after {
	content: " ";
	display: table;
}
#ft_copy_listlink:after {
	clear: both;
}
/* clearfix for ie7 */
.ie7 #ft_copy_listlink {
	zoom: 1;
}
#ft_copy_listlink li {
	margin: 0 24px 0 0;
	float: left;
}
#ft_copy_listlink li.blank a {
	background: url(/pc/images/cmn_ico_blank01.png) no-repeat left 0.1em;
	padding: 2px 0 2px 22px;
	min-height:22px;
}
#ft_copy_extra {
	border-bottom: 1px solid #4D71B8;
	padding: 18px 50% 18px 2px;
}
#ft_copy_usj {
	padding: 23px 2px;
}
#ft_copy_usj #ft_copy_usj_link {
	float: right;
}
#ft_copy_usj #ft_copy_usj_link a {
	background: url(/pc/images/cmn_ico_blank01.png) no-repeat left 0.1em;
	padding: 2px 0 2px 22px;
	min-height:22px;
}
/* for ie7,ie8 */
.ie7 #ft_copy_usj #ft_copy_usj_link a,
.ie8 #ft_copy_usj #ft_copy_usj_link a {
	display: inline-block;
}
/* ***************************************************************************** */
