@charset "utf-8";
/*-----------------------------------------------------------
===  [ module CSS ]  ====================================
------------------------------------------------------------*/

/* ***************************************************************************** */
/*

　目次

-------------------------------------------------------------------------------

　01. float
　02. clear
　03. layout
　04. position
　05. indent
　06. font

*/
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 01. float
 ** ------------------------------------------------------- */
.ft-l {
	float: left !important;
}
.ft-r {
	float: right !important;
}
.img-l {
	float: left !important;
	margin-right: 1em !important;
}
.img-r {
	float: right !important;
	margin-left: 1em !important;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 02. clear
 ** ------------------------------------------------------- */
/* clear
----------------------------------------------------*/
.clear {
	clear: both;
}
.clr {
	clear: both;
	height: 1px;
	width: 1px;
	padding: 0;
	margin: 0 -1px -1px 0;
	overflow: hidden;
	border: 0;
	font-size: 0;
	line-height: 0;
}
/* clearfix
----------------------------------------------------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* for ie7 */
.ie7 .clearfix {
	zoom: 1;
}
/* overflowfix
----------------------------------------------------*/
.overflowfix {
	overflow: hidden;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 03. layout
 ** ------------------------------------------------------- */
/* margin
----------------------------------------------------*/
.mt0 {
	margin-top: 0px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt35 {
	margin-top: 35px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt55 {
	margin-top: 55px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.mt65 {
	margin-top: 65px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.mt75 {
	margin-top: 75px !important;
}
.mt80 {
	margin-top: 80px !important;
}
.mt85 {
	margin-top: 85px !important;
}
.mt90 {
	margin-top: 90px !important;
}
.mt95 {
	margin-top: 95px !important;
}
.mt100 {
	margin-top: 100px !important;
}
.mr0 {
	margin-right: 0px !important;
}
.mr5 {
	margin-right: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mr15 {
	margin-right: 15px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mr25 {
	margin-right: 25px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.mr35 {
	margin-right: 35px !important;
}
.mr40 {
	margin-right: 40px !important;
}
.mr45 {
	margin-right: 45px !important;
}
.mr50 {
	margin-right: 50px !important;
}
.mr55 {
	margin-right: 55px !important;
}
.mr60 {
	margin-right: 60px !important;
}
.mr65 {
	margin-right: 65px !important;
}
.mr70 {
	margin-right: 70px !important;
}
.mr75 {
	margin-right: 75px !important;
}
.mr80 {
	margin-right: 80px !important;
}
.mr85 {
	margin-right: 85px !important;
}
.mr90 {
	margin-right: 90px !important;
}
.mr95 {
	margin-right: 95px !important;
}
.mr100 {
	margin-right: 100px !important;
}
.mb0 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb55 {
	margin-bottom: 55px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}
.mb65 {
	margin-bottom: 65px !important;
}
.mb70 {
	margin-bottom: 70px !important;
}
.mb75 {
	margin-bottom: 75px !important;
}
.mb80 {
	margin-bottom: 80px !important;
}
.mb85 {
	margin-bottom: 85px !important;
}
.mb90 {
	margin-bottom: 90px !important;
}
.mb95 {
	margin-bottom: 95px !important;
}
.mb100 {
	margin-bottom: 100px !important;
}
.ml0 {
	margin-left: 0px !important;
}
.ml5 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.ml35 {
	margin-left: 35px !important;
}
.ml40 {
	margin-left: 40px !important;
}
.ml45 {
	margin-left: 45px !important;
}
.ml50 {
	margin-left: 50px !important;
}
.ml55 {
	margin-left: 55px !important;
}
.ml60 {
	margin-left: 60px !important;
}
.ml65 {
	margin-left: 65px !important;
}
.ml70 {
	margin-left: 70px !important;
}
.ml75 {
	margin-left: 75px !important;
}
.ml80 {
	margin-left: 80px !important;
}
.ml85 {
	margin-left: 85px !important;
}
.ml90 {
	margin-left: 90px !important;
}
.ml95 {
	margin-left: 95px !important;
}
.ml100 {
	margin-left: 100px !important;
}
/* -- em -- */
.mtem0_5 {
	margin-top: 0.5em !important;
}
.mtem1 {
	margin-top: 1em !important;
}
.mtem1_5 {
	margin-top: 1.5em !important;
}
.mtem2 {
	margin-top: 2em !important;
}
.mtem2_5 {
	margin-top: 2.5em !important;
}
.mtem3 {
	margin-top: 3em !important;
}
.mtem3_5 {
	margin-top: 3.5em !important;
}
.mtem4 {
	margin-top: 4em !important;
}
.mtem4_5 {
	margin-top: 4.5em !important;
}
.mtem5 {
	margin-top: 5em !important;
}
.mrem0_5 {
	margin-right: 0.5em !important;
}
.mrem1 {
	margin-right: 1em !important;
}
.mrem1_5 {
	margin-right: 1.5em !important;
}
.mrem2 {
	margin-right: 2em !important;
}
.mrem2_5 {
	margin-right: 2.5em !important;
}
.mrem3 {
	margin-right: 3em !important;
}
.mrem3_5 {
	margin-right: 3.5em !important;
}
.mrem4 {
	margin-right: 4em !important;
}
.mrem4_5 {
	margin-right: 4.5em !important;
}
.mrem5 {
	margin-right: 5em !important;
}
.mbem0_5 {
	margin-bottom: 0.5em !important;
}
.mbem1 {
	margin-bottom: 1em !important;
}
.mbem1_5 {
	margin-bottom: 1.5em !important;
}
.mbem2 {
	margin-bottom: 2em !important;
}
.mbem2_5 {
	margin-bottom: 2.5em !important;
}
.mbem3 {
	margin-bottom: 3em !important;
}
.mbem3_5 {
	margin-bottom: 3.5em !important;
}
.mbem4 {
	margin-bottom: 4em !important;
}
.mbem4_5 {
	margin-bottom: 4.5em !important;
}
.mbem5 {
	margin-bottom: 5em !important;
}
.mlem0_5 {
	margin-left: 0.5em !important;
}
.mlem1 {
	margin-left: 1em !important;
}
.mlem1_5 {
	margin-left: 1.5em !important;
}
.mlem2 {
	margin-left: 2em !important;
}
.mlem2_5 {
	margin-left: 2.5em !important;
}
.mlem3 {
	margin-left: 3em !important;
}
.mlem3_5 {
	margin-left: 3.5em !important;
}
.mlem4 {
	margin-left: 4em !important;
}
.mlem4_5 {
	margin-left: 4.5em !important;
}
.mlem5 {
	margin-left: 5em !important;
}
/* padding
----------------------------------------------------*/
.pt0 {
	padding-top: 0px !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt25 {
	padding-top: 25px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pt55 {
	padding-top: 55px !important;
}
.pt60 {
	padding-top: 60px !important;
}
.pt65 {
	padding-top: 65px !important;
}
.pt70 {
	padding-top: 70px !important;
}
.pt75 {
	padding-top: 75px !important;
}
.pt80 {
	padding-top: 80px !important;
}
.pt85 {
	padding-top: 85px !important;
}
.pt90 {
	padding-top: 90px !important;
}
.pt95 {
	padding-top: 95px !important;
}
.pt100 {
	padding-top: 100px !important;
}
.pr0 {
	padding-right: 0px !important;
}
.pr5 {
	padding-right: 5px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr25 {
	padding-right: 25px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr35 {
	padding-right: 35px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pr45 {
	padding-right: 45px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pr55 {
	padding-right: 55px !important;
}
.pr60 {
	padding-right: 60px !important;
}
.pr65 {
	padding-right: 65px !important;
}
.pr70 {
	padding-right: 70px !important;
}
.pr75 {
	padding-right: 75px !important;
}
.pr80 {
	padding-right: 80px !important;
}
.pr85 {
	padding-right: 85px !important;
}
.pr90 {
	padding-right: 90px !important;
}
.pr95 {
	padding-right: 95px !important;
}
.pr100 {
	padding-right: 100px !important;
}
.pb0 {
	padding-bottom: 0px !important;
}
.pb5 {
	padding-bottom: 5px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb15 {
	padding-bottom: 15px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb25 {
	padding-bottom: 25px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb35 {
	padding-bottom: 35px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pb45 {
	padding-bottom: 45px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.pb55 {
	padding-bottom: 55px !important;
}
.pb60 {
	padding-bottom: 60px !important;
}
.pb65 {
	padding-bottom: 65px !important;
}
.pb70 {
	padding-bottom: 70px !important;
}
.pb75 {
	padding-bottom: 75px !important;
}
.pb80 {
	padding-bottom: 80px !important;
}
.pb85 {
	padding-bottom: 85px !important;
}
.pb90 {
	padding-bottom: 90px !important;
}
.pb95 {
	padding-bottom: 95px !important;
}
.pb100 {
	padding-bottom: 100px !important;
}
.pl0 {
	padding-left: 0px !important;
}
.pl5 {
	padding-left: 5px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl15 {
	padding-left: 15px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl25 {
	padding-left: 25px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pl35 {
	padding-left: 35px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pl45 {
	padding-left: 45px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.pl55 {
	padding-left: 55px !important;
}
.pl60 {
	padding-left: 60px !important;
}
.pl65 {
	padding-left: 65px !important;
}
.pl70 {
	padding-left: 70px !important;
}
.pl75 {
	padding-left: 75px !important;
}
.pl80 {
	padding-left: 80px !important;
}
.pl85 {
	padding-left: 85px !important;
}
.pl90 {
	padding-left: 90px !important;
}
.pl95 {
	padding-left: 95px !important;
}
.pl100 {
	padding-left: 100px !important;
}
/* width
----------------------------------------------------*/
.w0 {
	width: 0 !important;
}
.w5 {
	width: 5px !important;
}
.w10 {
	width: 10px !important;
}
.w15 {
	width: 15px !important;
}
.w20 {
	width: 20px !important;
}
.w25 {
	width: 25px !important;
}
.w30 {
	width: 30px !important;
}
.w35 {
	width: 35px !important;
}
.w40 {
	width: 40px !important;
}
.w45 {
	width: 45px !important;
}
.w50 {
	width: 50px !important;
}
.w55 {
	width: 55px !important;
}
.w60 {
	width: 60px !important;
}
.w65 {
	width: 65px !important;
}
.w70 {
	width: 70px !important;
}
.w75 {
	width: 75px !important;
}
.w80 {
	width: 80px !important;
}
.w85 {
	width: 85px !important;
}
.w90 {
	width: 90px !important;
}
.w95 {
	width: 95px !important;
}
.w100 {
	width: 100px !important;
}
.w105 {
	width: 105px !important;
}
.w110 {
	width: 110px !important;
}
.w115 {
	width: 115px !important;
}
.w120 {
	width: 120px !important;
}
.w125 {
	width: 125px !important;
}
.w130 {
	width: 130px !important;
}
.w135 {
	width: 135px !important;
}
.w140 {
	width: 140px !important;
}
.w145 {
	width: 145px !important;
}
.w150 {
	width: 150px !important;
}
.w155 {
	width: 155px !important;
}
.w160 {
	width: 160px !important;
}
.w165 {
	width: 165px !important;
}
.w170 {
	width: 170px !important;
}
.w175 {
	width: 175px !important;
}
.w180 {
	width: 180px !important;
}
.w185 {
	width: 185px !important;
}
.w190 {
	width: 190px !important;
}
.w195 {
	width: 195px !important;
}
.w200 {
	width: 200px !important;
}
.w205 {
	width: 205px !important;
}
.w210 {
	width: 210px !important;
}
.w215 {
	width: 215px !important;
}
.w220 {
	width: 220px !important;
}
.w225 {
	width: 225px !important;
}
.w230 {
	width: 230px !important;
}
.w235 {
	width: 235px !important;
}
.w240 {
	width: 240px !important;
}
.w245 {
	width: 245px !important;
}
.w250 {
	width: 250px !important;
}
.w255 {
	width: 255px !important;
}
.w260 {
	width: 260px !important;
}
.w265 {
	width: 265px !important;
}
.w270 {
	width: 270px !important;
}
.w275 {
	width: 275px !important;
}
.w280 {
	width: 280px !important;
}
.w285 {
	width: 285px !important;
}
.w290 {
	width: 290px !important;
}
.w295 {
	width: 295px !important;
}
.w300 {
	width: 300px !important;
}
.w305 {
	width: 305px !important;
}
.w310 {
	width: 310px !important;
}
.w315 {
	width: 315px !important;
}
.w320 {
	width: 320px !important;
}
.w325 {
	width: 325px !important;
}
.w330 {
	width: 330px !important;
}
.w335 {
	width: 335px !important;
}
.w340 {
	width: 340px !important;
}
.w345 {
	width: 345px !important;
}
.w350 {
	width: 350px !important;
}
.w355 {
	width: 355px !important;
}
.w360 {
	width: 360px !important;
}
.w365 {
	width: 365px !important;
}
.w370 {
	width: 370px !important;
}
.w375 {
	width: 375px !important;
}
.w380 {
	width: 380px !important;
}
.w385 {
	width: 385px !important;
}
.w390 {
	width: 390px !important;
}
.w395 {
	width: 395px !important;
}
.w400 {
	width: 400px !important;
}
.w405 {
	width: 405px !important;
}
.w410 {
	width: 410px !important;
}
.w415 {
	width: 415px !important;
}
.w420 {
	width: 420px !important;
}
.w425 {
	width: 425px !important;
}
.w430 {
	width: 430px !important;
}
.w435 {
	width: 435px !important;
}
.w440 {
	width: 440px !important;
}
.w445 {
	width: 445px !important;
}
.w450 {
	width: 450px !important;
}
.w455 {
	width: 455px !important;
}
.w460 {
	width: 460px !important;
}
.w465 {
	width: 465px !important;
}
.w470 {
	width: 470px !important;
}
.w475 {
	width: 475px !important;
}
.w480 {
	width: 480px !important;
}
.w485 {
	width: 485px !important;
}
.w490 {
	width: 490px !important;
}
.w495 {
	width: 495px !important;
}
.w500 {
	width: 500px !important;
}
.w505 {
	width: 505px !important;
}
.w510 {
	width: 510px !important;
}
.w515 {
	width: 515px !important;
}
.w520 {
	width: 520px !important;
}
.w525 {
	width: 525px !important;
}
.w530 {
	width: 530px !important;
}
.w535 {
	width: 535px !important;
}
.w540 {
	width: 540px !important;
}
.w545 {
	width: 545px !important;
}
.w550 {
	width: 550px !important;
}
.w555 {
	width: 555px !important;
}
.w560 {
	width: 560px !important;
}
.w565 {
	width: 565px !important;
}
.w570 {
	width: 570px !important;
}
.w575 {
	width: 575px !important;
}
.w580 {
	width: 580px !important;
}
.w585 {
	width: 585px !important;
}
.w590 {
	width: 590px !important;
}
.w595 {
	width: 595px !important;
}
.w600 {
	width: 600px !important;
}
.w605 {
	width: 605px !important;
}
.w610 {
	width: 610px !important;
}
.w615 {
	width: 615px !important;
}
.w620 {
	width: 620px !important;
}
.w625 {
	width: 625px !important;
}
.w630 {
	width: 630px !important;
}
.w635 {
	width: 635px !important;
}
.w640 {
	width: 640px !important;
}
.w645 {
	width: 645px !important;
}
.w650 {
	width: 650px !important;
}
.w655 {
	width: 655px !important;
}
.w660 {
	width: 660px !important;
}
.w665 {
	width: 665px !important;
}
.w670 {
	width: 670px !important;
}
/* width variation (%) */
.wp0 {
	width: 0% !important;
}
.wp5 {
	width: 5% !important;
}
.wp10 {
	width: 10% !important;
}
.wp15 {
	width: 15% !important;
}
.wp20 {
	width: 20% !important;
}
.wp25 {
	width: 25% !important;
}
.wp30 {
	width: 30% !important;
}
.wp35 {
	width: 35% !important;
}
.wp40 {
	width: 40% !important;
}
.wp45 {
	width: 45% !important;
}
.wp50 {
	width: 50% !important;
}
.wp55 {
	width: 55% !important;
}
.wp60 {
	width: 60% !important;
}
.wp65 {
	width: 65% !important;
}
.wp70 {
	width: 70% !important;
}
.wp75 {
	width: 75% !important;
}
.wp80 {
	width: 80% !important;
}
.wp85 {
	width: 85% !important;
}
.wp90 {
	width: 90% !important;
}
.wp95 {
	width: 95% !important;
}
.wp100 {
	width: 100% !important;
}
/* height
----------------------------------------------------*/
.h0 {
	height: 0 !important;
}
.h5 {
	height: 5px !important;
}
.h10 {
	height: 10px !important;
}
.h15 {
	height: 15px !important;
}
.h20 {
	height: 20px !important;
}
.h25 {
	height: 25px !important;
}
.h30 {
	height: 30px !important;
}
.h35 {
	height: 35px !important;
}
.h40 {
	height: 40px !important;
}
.h45 {
	height: 45px !important;
}
.h50 {
	height: 50px !important;
}
.h55 {
	height: 55px !important;
}
.h60 {
	height: 60px !important;
}
.h65 {
	height: 65px !important;
}
.h70 {
	height: 70px !important;
}
.h75 {
	height: 75px !important;
}
.h80 {
	height: 80px !important;
}
.h85 {
	height: 85px !important;
}
.h90 {
	height: 90px !important;
}
.h95 {
	height: 95px !important;
}
.h100 {
	height: 100px !important;
}
.h105 {
	height: 105px !important;
}
.h110 {
	height: 110px !important;
}
.h115 {
	height: 115px !important;
}
.h120 {
	height: 120px !important;
}
.h125 {
	height: 125px !important;
}
.h130 {
	height: 130px !important;
}
.h135 {
	height: 135px !important;
}
.h140 {
	height: 140px !important;
}
.h145 {
	height: 145px !important;
}
.h150 {
	height: 150px !important;
}
.h155 {
	height: 155px !important;
}
.h160 {
	height: 160px !important;
}
.h165 {
	height: 165px !important;
}
.h170 {
	height: 170px !important;
}
.h175 {
	height: 175px !important;
}
.h180 {
	height: 180px !important;
}
.h185 {
	height: 185px !important;
}
.h190 {
	height: 190px !important;
}
.h195 {
	height: 195px !important;
}
.h200 {
	height: 200px !important;
}
.h205 {
	height: 205px !important;
}
.h210 {
	height: 210px !important;
}
.h215 {
	height: 215px !important;
}
.h220 {
	height: 220px !important;
}
.h225 {
	height: 225px !important;
}
.h230 {
	height: 230px !important;
}
.h235 {
	height: 235px !important;
}
.h240 {
	height: 240px !important;
}
.h245 {
	height: 245px !important;
}
.h250 {
	height: 250px !important;
}
.h255 {
	height: 255px !important;
}
.h260 {
	height: 260px !important;
}
.h265 {
	height: 265px !important;
}
.h270 {
	height: 270px !important;
}
.h275 {
	height: 275px !important;
}
.h280 {
	height: 280px !important;
}
.h285 {
	height: 285px !important;
}
.h290 {
	height: 290px !important;
}
.h295 {
	height: 295px !important;
}
.h300 {
	height: 300px !important;
}
.h305 {
	height: 305px !important;
}
.h310 {
	height: 310px !important;
}
.h315 {
	height: 315px !important;
}
.h320 {
	height: 320px !important;
}
.h325 {
	height: 325px !important;
}
.h330 {
	height: 330px !important;
}
.h335 {
	height: 335px !important;
}
.h340 {
	height: 340px !important;
}
.h345 {
	height: 345px !important;
}
.h350 {
	height: 350px !important;
}
.h355 {
	height: 355px !important;
}
.h360 {
	height: 360px !important;
}
.h365 {
	height: 365px !important;
}
.h370 {
	height: 370px !important;
}
.h375 {
	height: 375px !important;
}
.h380 {
	height: 380px !important;
}
.h385 {
	height: 385px !important;
}
.h390 {
	height: 390px !important;
}
.h395 {
	height: 395px !important;
}
.h400 {
	height: 400px !important;
}
.h405 {
	height: 405px !important;
}
.h410 {
	height: 410px !important;
}
.h415 {
	height: 415px !important;
}
.h420 {
	height: 420px !important;
}
.h425 {
	height: 425px !important;
}
.h430 {
	height: 430px !important;
}
.h435 {
	height: 435px !important;
}
.h440 {
	height: 440px !important;
}
.h445 {
	height: 445px !important;
}
.h450 {
	height: 450px !important;
}
.h455 {
	height: 455px !important;
}
.h460 {
	height: 460px !important;
}
.h465 {
	height: 465px !important;
}
.h470 {
	height: 470px !important;
}
.h475 {
	height: 475px !important;
}
.h480 {
	height: 480px !important;
}
.h485 {
	height: 485px !important;
}
.h490 {
	height: 490px !important;
}
.h495 {
	height: 495px !important;
}
.h500 {
	height: 500px !important;
}
.h505 {
	height: 505px !important;
}
.h510 {
	height: 510px !important;
}
.h515 {
	height: 515px !important;
}
.h520 {
	height: 520px !important;
}
.h525 {
	height: 525px !important;
}
.h530 {
	height: 530px !important;
}
.h535 {
	height: 535px !important;
}
.h540 {
	height: 540px !important;
}
.h545 {
	height: 545px !important;
}
.h550 {
	height: 550px !important;
}
.h555 {
	height: 555px !important;
}
.h560 {
	height: 560px !important;
}
.h565 {
	height: 565px !important;
}
.h570 {
	height: 570px !important;
}
.h575 {
	height: 575px !important;
}
.h580 {
	height: 580px !important;
}
.h585 {
	height: 585px !important;
}
.h590 {
	height: 590px !important;
}
.h595 {
	height: 595px !important;
}
.h600 {
	height: 600px !important;
}
.h605 {
	height: 605px !important;
}
.h610 {
	height: 610px !important;
}
.h615 {
	height: 615px !important;
}
.h620 {
	height: 620px !important;
}
.h625 {
	height: 625px !important;
}
.h630 {
	height: 630px !important;
}
.h635 {
	height: 635px !important;
}
.h640 {
	height: 640px !important;
}
.h645 {
	height: 645px !important;
}
.h650 {
	height: 650px !important;
}
.h655 {
	height: 655px !important;
}
.h660 {
	height: 660px !important;
}
.h665 {
	height: 665px !important;
}
.h670 {
	height: 670px !important;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 04. position
 ** ------------------------------------------------------- */
/* box position
----------------------------------------------------*/
.center {
	margin-left: auto;
	margin-right: auto;
}
.center > * {
	margin-left: auto;
	margin-right: auto;
}
.right > * {
	margin-left: auto;
	margin-right: 0;
}
.left > * {
	margin-left: 0;
	margin-right: auto;
}
/* text position
----------------------------------------------------*/
.txtcenter {
	text-align: center !important;
}
.txtright {
	text-align: right !important;
}
.txtleft {
	text-align: left !important;
}
.va-top {
	vertical-align: top !important;
}
.va-middle {
	vertical-align: middle !important;
}
.va-bottom {
	vertical-align: bottom !important;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 05. indent
 ** ------------------------------------------------------- */
.indent0-5 {
	padding-left: 0.5em;
	text-indent: -0.5em;
}
.indent1 {
	padding-left: 1em;
	text-indent: -1em;
}
.indent1-3 {
	padding-left: 1.3em;
	text-indent: -1.3em;
}
.indent1-5 {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.indent1-7 {
	padding-left: 1.7em;
	text-indent: -1.7em;
}
.indent2 {
	padding-left: 2em;
	text-indent: -2em;
}
.indent2-5 {
	padding-left: 2.5em;
	text-indent: -2.5em;
}
.indent3 {
	padding-left: 3em;
	text-indent: -3em;
}
.indent3-5 {
	padding-left: 3.5em;
	text-indent: -3.5em;
}
.indent4 {
	padding-left: 4em;
	text-indent: -4em;
}
.indent4-5 {
	padding-left: 4.5em;
	text-indent: -4.5em;
}
.indent5 {
	padding-left: 5em;
	text-indent: -5em;
}
.indent5-5 {
	padding-left: 5.5em;
	text-indent: -5.5em;
}
.indent6 {
	padding-left: 6em;
	text-indent: -6em;
}
.indent6-5 {
	padding-left: 6.5em;
	text-indent: -6.5em;
}
.indent7 {
	padding-left: 7em;
	text-indent: -7em;
}
.indent7-5 {
	padding-left: 7.5em;
	text-indent: -7.5em;
}
.indent8 {
	padding-left: 8em;
	text-indent: -8em;
}
.indent8-5 {
	padding-left: 8.5em;
	text-indent: -8.5em;
}
.indent9 {
	padding-left: 9em;
	text-indent: -9em;
}
.indent9-5 {
	padding-left: 9.5em;
	text-indent: -9.5em;
}
.indent10 {
	padding-left: 10em;
	text-indent: -10em;
}
/* ***************************************************************************** */

/** -------------------------------------------------------
 ** 06. font
 ** ------------------------------------------------------- */
.caution {
	color: #C00;
}
.bold {
	font-weight: bold !important;
}
.normal {
	font-weight: normal !important;
}
p,
li,
dt,
dd,
th,
td,
caption,
address,
button,
input {
	font-size: 87.5%;
	line-height: 1.5;
}
li li,
li li li,
li dl,
li dt,
li dd,
li ol,
li p,
dd dt,
dd dd,
dd p,
dd th,
dd td,
dd li,
td dt,
td dd,
td li,
td p,
dd span,
p span,
li span,
dd em,
p em,
li em,
dd strong,
p strong,
li strong,
table p,
table ul,
table ol,
table table,
table table table,
p button,
li button,
p input {
	font-size: 100%;
}

/* ***************************************************************************** */
